.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.main {
	max-width: 500px;
	margin: 0 auto;
}

.keyboard-row {
	display: flex;
	justify-content: center;
}

.key {
	width: 43px;
	height: 43px;
	background-color: rgb(230, 224, 224);
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 2px;
	margin: 16px 3px 0 0;
	border: none;
	border-radius: 5px;
	box-shadow: 0 9px #999;
	outline: none;
}

.key:hover {
	cursor: pointer;
	background-color: #e0e0e0;
}

.key:active {
	background-color: #cfcfcf;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.correct {
	background: rgb(2, 121, 2);
}

.includes {
	background: coral;
}

.incorrect {
	background: darkgrey;
}

.cell {
	flex: 0 0 calc(17% - 10px); /* explanation below */
	margin: 5px;
	height: 58px;
	border-radius: 5px;
	border: #282c34 1px solid;
	align-items: center;
	display: flex;
	justify-content: center;
}
